.main {
  padding: 10px;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
}

.main__tags {
  margin: auto;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags__span {
  min-width: 90px;
  text-align: center;
  color: white;
  padding: 5px 10px;
  border: rgb(0, 139, 139);
  border-radius: 5px;
  background-color: rgb(0, 139, 139);
  margin: 0 5px 5px 0;
}

.tags__span_small {
  min-width: 60px;
}
